@import '../../../styles.scss';

.wrapper{
    display: flex;
    flex-direction: column;
        h1{
            margin-bottom: 1rem;
            color: mat-color($primary-palette);
            align-self: center;
            font: 400 36px Roboto, "Helvetica Neue", sans-serif
        }
    width: 500px;
    margin: 0 auto;
}

.uploadButton {
  width: 150px;
}

.appForm {
  display: flex;
  flex-direction: column;
}
